<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/avisos.css">
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-logo" href="/">Palita-shan</a>
            <div id="navbar-links" class="navbar-links">
                <a href="/">Inicio</a>
                <a href="/books/">Libros</a>
                <a href="/stickers/">Stickers</a>
                <a href="/cojines/">Cojines</a>
                {% if session.get("user") %}
                <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}">Iniciar sesión</a>
                {% endif %}
            </div>
            <button id="navbar-toggle" class="navbar-toggle">☰</button>
        </div>
    </nav>
    


    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/ads.js"></script>

</body>

</html>